PROGETTO_CLIPS/Progetto Finale/SceneGenerator/nbproject/private/
PROGETTO_CLIPS/Progetto Finale/SceneGenerator/build/
PROGETTO_CLIPS/Progetto Finale/SceneGenerator/dist/
PROGETTO_CLIPS/Progetto Finale/waitor/nbproject/private/
PROGETTO_CLIPS/Progetto Finale/waitor/build/
PROGETTO_CLIPS/Progetto Finale/waitor/dist/


*.properties
*.json
*.xml
*.class
*.mf
*.jar


PROGETTO_CLIPS/Progetto Finale/waitor/history.txt

PROGETTO_CLIPS/Progetto Finale/waitor/InitMap.txt

*.log

*.jar
