/Progetti Java/SceneGenerator/nbproject/private/
/Progetti Java/SceneGenerator/build/
/Progetti Java/SceneGenerator/dist/
*.properties

*.json
*.xml
*.class

*.properties

Monitor_CO/waitor/nbproject/private/private.xml
